
<h1>******** Welcome to the longest word-game!********</h1>
<p>Here is your grid:</p>
<p>- <%= @grid  %> -</p>

<h2>What's your best shot?</h2>


<form action="/score" method="get">
  <input type="text" name="answer" placeholder="Enter an english word?">
  <input type="hidden" name="grid" value= "<%= @grid %>">
  <input type="hidden" name="time" value= <%= @start_time %>>
  <input type="submit">
</form>


<!--
puts "What's your best shot?"
start_time = Time.now
attempt = gets.chomp
end_time = Time.now

puts "******** Now your result ********"

result = run_game(attempt, grid, start_time, end_time)

puts "Your word: #{attempt}"
puts "Time Taken to answer: #{result[:time]}"
puts "Your score: #{result[:score]}"
puts "Message: #{result[:message]}"

puts "*****************************************************"
 -->
